{% extends 'layout2.html' %}


{% block content %}
{%import "_macros.html" as macros%}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-1">404</h1>
                <p class="lead">Página no encontrada</p>
                <a class="btn btn-primary" href="/">Volver a la página de inicio</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}